body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
main {
  margin-top: rem(90);
}
.btn {
  outline: none;
  border: 0;
  height: rem(30);
  width: 100%;
  max-width: rem(150);
  margin-top: rem(20);
  background-color: var(--btn-background);
  border-radius: rem(2);
  font: inherit;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 150ms ease-in-out;
  &:hover {
    background-color: var(--btn-hover-background);
  }
}
.container {
  max-width: rem(1000);
  margin: 0 auto;
  padding-inline: rem(20);
}
